body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #040C0E;
}
.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: '. . . todolist todolist todolist todolist todolist todolist . . .'
  '. . . todolist todolist todolist todolist todolist todolist . . .'
  '. . . todolist todolist todolist todolist todolist todolist . . .';
}
/*
#040C0E
#132226
#525B56
#BE9063
#A4978E
*/