.Task {
  position: relative;
  display: flex;
  min-height: 30px;
}
li button {
  margin: 0px 2px 0px 2px;
  border: 1px solid rgb(82, 82, 82);
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  display: block;
  position: relative;
  right: 0;
  float: right;
  width: 28px;
  font-size: 80%;
  font-weight: bold;
  outline: none;
}
li button:hover {
  background-color: rgb(185, 185, 185);
}
li:hover{
  background-color: rgb(235, 235, 235);
}
.divText{
  display: inline-block;
  flex: 1;
}